.App{
    padding: 20px 12px;
}
.ticket {
    min-height: 370px;
    padding: 14px 11px 24px;
    background: #FFFFFF;
    border-radius: 3px;
}

.ticket_top{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket-magic{
    font-size: 20px;
    transform: scale(-1, 1);
    cursor: pointer;
}

.ticket_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.field_title {
    display: flex;
    align-items: center;
}

.field_subtitle {
    margin-right: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.field_description {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.field_btns {
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ticket_result {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    opacity: 0.64;
    border: 1px solid #000000;
    border-radius: 40px;
    cursor: pointer;
}